<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>mevoco nightly basic test</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <org.jenkins.plugins.lockableresources.RequiredResourcesProperty plugin="lockable-resources@1.7">
      <resourceNamesVar>IP_RANGE_NAME</resourceNamesVar>
      <resourceNumber>1</resourceNumber>
      <labelName>IP_RANGE</labelName>
    </org.jenkins.plugins.lockableresources.RequiredResourcesProperty>
    <jenkins.plugins.slack.SlackNotifier_-SlackJobProperty plugin="slack@1.8.1">
      <teamDomain></teamDomain>
      <token></token>
      <room></room>
      <startNotification>false</startNotification>
      <notifySuccess>false</notifySuccess>
      <notifyAborted>false</notifyAborted>
      <notifyNotBuilt>false</notifyNotBuilt>
      <notifyUnstable>false</notifyUnstable>
      <notifyFailure>false</notifyFailure>
      <notifyBackToNormal>false</notifyBackToNormal>
      <notifyRepeatedFailure>false</notifyRepeatedFailure>
      <includeTestSummary>false</includeTestSummary>
      <showCommitList>false</showCommitList>
      <includeCustomMessage>false</includeCustomMessage>
      <customMessage></customMessage>
    </jenkins.plugins.slack.SlackNotifier_-SlackJobProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>rm -rf mevoco_ci zstack_ci</command>
    </hudson.tasks.Shell>
    <hudson.plugins.copyartifact.CopyArtifact plugin="copyartifact@1.37">
      <project>mevoco_ci</project>
      <filter>zstack.tar</filter>
      <target></target>
      <excludes></excludes>
      <selector class="hudson.plugins.copyartifact.PermalinkBuildSelector">
        <id>mevoco_ci_bat_pass</id>
      </selector>
      <doNotFingerprintArtifacts>false</doNotFingerprintArtifacts>
    </hudson.plugins.copyartifact.CopyArtifact>
    <hudson.plugins.copyartifact.CopyArtifact plugin="copyartifact@1.37">
      <project>mevoco_ci</project>
      <filter>zstack-utility.tar</filter>
      <target></target>
      <excludes></excludes>
      <selector class="hudson.plugins.copyartifact.PermalinkBuildSelector">
        <id>mevoco_ci_bat_pass</id>
      </selector>
      <doNotFingerprintArtifacts>false</doNotFingerprintArtifacts>
    </hudson.plugins.copyartifact.CopyArtifact>
    <hudson.plugins.copyartifact.CopyArtifact plugin="copyartifact@1.37">
      <project>zstack-woodpecker_debug</project>
      <filter>zstack-woodpecker.tar</filter>
      <target></target>
      <excludes></excludes>
      <selector class="hudson.plugins.copyartifact.StatusBuildSelector"/>
      <doNotFingerprintArtifacts>false</doNotFingerprintArtifacts>
    </hudson.plugins.copyartifact.CopyArtifact>
    <hudson.plugins.copyartifact.CopyArtifact plugin="copyartifact@1.37">
      <project>mevoco_ci</project>
      <filter>mevoco_ci/latest/*</filter>
      <target></target>
      <excludes></excludes>
      <selector class="hudson.plugins.copyartifact.PermalinkBuildSelector">
        <id>mevoco_ci_bat_pass</id>
      </selector>
      <doNotFingerprintArtifacts>false</doNotFingerprintArtifacts>
    </hudson.plugins.copyartifact.CopyArtifact>
    <hudson.plugins.copyartifact.CopyArtifact plugin="copyartifact@1.37">
      <project>zstack-woodpecker_debug</project>
      <filter>zstack_woodpecker_version.txt</filter>
      <target></target>
      <excludes></excludes>
      <selector class="hudson.plugins.copyartifact.StatusBuildSelector"/>
      <doNotFingerprintArtifacts>false</doNotFingerprintArtifacts>
    </hudson.plugins.copyartifact.CopyArtifact>
    <hudson.plugins.copyartifact.CopyArtifact plugin="copyartifact@1.37">
      <project>mevoco_ci</project>
      <filter>mevoco_ci_build_number.txt</filter>
      <target></target>
      <excludes></excludes>
      <selector class="hudson.plugins.copyartifact.PermalinkBuildSelector">
        <id>mevoco_ci_bat_pass</id>
      </selector>
      <doNotFingerprintArtifacts>false</doNotFingerprintArtifacts>
    </hudson.plugins.copyartifact.CopyArtifact>
    <hudson.tasks.Shell>
      <command>if [ &quot;${OVERALL_MEVOCO_BUILD_NUMBER}&quot; == &quot;&quot; ]; then
	OVERALL_MEVOCO_BUILD_NUMBER=`cat mevoco_ci_build_number.txt`
fi
bash -ex ${JENKINS_HOME}/test_script/build.sh build_mevoco &quot;${OVERALL_MEVOCO_BUILD_NUMBER}&quot; mevoco_ci/latest/mevoco-installer.bin
bash -ex ${JENKINS_HOME}/test_script/run_remote_test.sh mevoco_ci nightly &quot;${OVERALL_MEVOCO_BUILD_NUMBER}&quot; ${IP_RANGE_NAME} ${WORKSPACE} basic</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>